@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var row = 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome to the banking application</h1>
    <p>This application can be used to view and interact with your accounts.</a>.</p>
</div>

<p>To access all counts in JSON-format click <a href="/api/accounts">here</a></p>

<table class="accountTable">
    <tr class="accountColumn">
        <th>Number</th>
        <th>Balance</th>
        <th>Label</th>
        <th>Owner</th>
        <th>Data</th>
    </tr>
@foreach(var account in Model.Accounts)
{
    var data = "api/account/" + account.Number;
    var rowClass = "accountRow" + row;
    <tr class="@rowClass">
        <td>@account.Number</td>
        <td>@account.Balance</td>
        <td>@account.Label</td>
        <td>@account.Owner</td>
        <td><a href=@data>Data</a></td>
    </tr>

    if(row == 1){
        row = 0;
    }else {
        row = 1;
    }
}
</table>

<form action="/api/account" method="post">
    <fieldset>
        <legend>Transfer money</legend>
        <div>
            <label for="originAccount">Origin account</label>
            <input type="number" id="originAccount" name="originAccount">
        </div>
        <div>
            <label for="targetAccount">Target account</label>
            <input type="text" name="targetAccount" value="">
        </div>
        <div>
            <label for="amount">Amount</label>
            <input type="text" name="amount" value="">
        </div>
        <div>
            <input type="submit">
        </div>
    </fieldset>
</form>

