<h1>Welcome to the lotto-page</h1>
<h2>Todays numbers are: </h2>

<%
"use strict"
var jsonResponse = data;
console.info("\n--- jsonResponse ---");
console.info(jsonResponse);
console.info("--------------------");

var number = 1;
var tdLabel = "";
var lottoRow = jsonResponse.lottoRow;

%>

<p><%= jsonResponse.lottoRow %></p>

<table class="lottoTable" id="lottoTable">

    <thead class="lottoHead">LOTTO NUMBERS</thead>

    <% for(let i = 0; i < 7; i++){ %>
           
        <tr>
            <% for (let j = 0; j < 5; j++){ %>
                <%
                    if(lottoRow.indexOf(number) != -1){
                        tdLabel = "class=\"hit\"";
                    }else {
                        tdLabel = "class=\"noHit\"";
                    }
                %>
                <td <%= tdLabel %>><%= number++ %></td>
            <% }; %>
        </tr>

    <% 
        };
        number = 1;
    %>

</table>

<% if(jsonResponse.queryRow != '') {
    var queryRow = jsonResponse.queryRow;
    console.log(queryRow);    
%>

<table class="inputTable" id="inputTable">

    <thead class="inputHead">YOUR NUMBERS</thead>

    <% for(let i = 0; i < 7; i++){ %>
           
        <tr>
            <% for (let j = 0; j < 5; j++){ %>
                <%
                    if(queryRow.indexOf(String(number)) != -1){
                        tdLabel = "class=\"hit\"";
                    }else {
                        tdLabel = "class=\"noHit\"";
                    }
                %>
                <td <%= tdLabel %>><%= number++ %></td>
            <% }; %>
        </tr>

    <% }; %>

</table>

<p>You had: <%= jsonResponse.numberOfMatches %> matches!</p>
<p>The matching numbers are: <%= jsonResponse.matchingNumbers %></p>

<% }; %>